<h2>Aca renderizando los detalle</h2>
@if (imageSrc()) {
<h2>Aqui la foto</h2>
<!-- <img [src]="imageSrc()" /> -->
}

<app-render-category categoryName="Comics" [data]="comics()" />
<app-render-category categoryName="Characters" [data]="characters()" />
<app-render-category categoryName="Series" [data]="series()" />
<app-render-category categoryName="Events" [data]="events()" />
<app-render-category categoryName="Stories" [data]="stories()" />
<app-render-category categoryName="Creators" [data]="creators()" />

@if (urls()) {
<h3>Urls:</h3>
<ul>
  @for (url of urls(); track url.url) {
  <li>{{ url.type }}: {{ url.url }}</li>
  }
</ul>
}
